
// COLORS
$darkgray: #212329;
$brightred: #F9423D;
$white: #fff;
$lightred: #f9433dcc;
$lightblue: #337AF1;


// MAIN
.main {
  background: $darkgray;
  

  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    background-color: $darkgray;

    .main-content {
      justify-self: start;
      margin-left: 20px;
      color: $white;
      width: 80%;

      h1 {
        font-size: 2rem;
      }

      p{
        margin-top: 1rem;
        font-size: 1.2rem;
      }

      .main-btn {
        font-size: 1rem;
        background-color: $brightred;
        padding: 8px 20px;
        border-radius: 4px;
        color: $white;
        margin-top: 2rem;
        cursor: pointer;
        position: relative;
        transition: all .35s;
        outline: none;
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          transition: all .35s;
          border-radius: 4px;
          background: $lightblue;
        }
        &:hover {
          color: $white;
          &::after {
            width: 100%;
          }
        }

        a {
          position: relative;
          z-index: 2;
          color: $white;
          text-decoration: none;
        }
      }
    }

    .main-img-container {
      text-align: center;

      #main-img {
        height: 80%;
        width: 80%;
      }
    }
  }
}


// RESPONSIVE

@media screen and (max-width: 768px) {
  .main {
    .main-container {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 90%;
      margin: 0 auto;
      height: 90vh;
      background-color: $darkgray;
      
      .main-content {
        justify-self: center;
        color: $white;
        width: 80%;
        margin: 0;

        h1 {
          font-size: 2.5rem;
        }

        p {
          margin-top: 1rem;
          font-size: 1.5rem;
        }
      }

      #main-img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main {
    .main-container {
      .main-content {
        text-align: center;
        
        h1 {
          font-size: 2.8rem;
        }

        p {
          margin-top: 2rem;
          font-size: 1.5rem;
        }

        .main-btn {
          padding: 12px 36px;
          margin-top: 2.5rem;
        }
      }
    }
  }
}
